# This systemd unit is used to control the data pipeline service
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# This systemd unit is used to control the workflow execution environment
[Unit]
Description=Ventilation for hospitality data pipeline service
Documentation=https://github.com/rcgsheffield/ventilation-for-hospitality
After=network.target

[Service]
# https://trstringer.com/simple-vs-oneshot-systemd-service/#summary
Type=simple
User=vent
WorkingDirectory=/home/vent
EnvironmentFile=/home/vent/.env
ExecStart=/opt/vent/venv/bin/python3.9 -m vent
# Don't restart because this service will be triggered on a schedule
Restart=no

[Install]
WantedBy=multi-user.target
